<!DOCTYPE html>
<html>
<head>
    <title>Registrar's Office Class Search</title>

    <meta name="viewport"
            content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid"
    style="background-color:#295078; color:white">
        {% include 'header_cs.html' %}
        {% include 'searchform.html' %}
    </div>

    <div class="container-fluid">
        {% if error_message is defined %}
        <p>{{error_message}}</p>
        {% else %}
        <span id='results'></span>
        {% endif %}
    </div>

    <div class="container-fluid"
    style="background-color:#295078; color:white">
        {% include 'footer.html' %}
    </div>

<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>

<script>
    'use strict';

    function handleResponse(response)
    {
        $('#results').html(response);
    }

    let request = null;

    function courseSearch() {
        // acquire and encode parameters
        let dept = $('#deptInput').val();
        dept = encodeURIComponent(dept);
        let number = $('#numberInput').val();
        number = encodeURIComponent(number);
        let area = $('#areaInput').val();
        area = encodeURIComponent(area);
        let title = $('#titleInput').val();
        title = encodeURIComponent(title);

        let url = '/searchresults?dept=' + dept + '&coursenum=' + number 
            + '&area='+ area + '&title=' + title;

        if (request != null)
            request.abort();

        request = $.ajax(
            {
                type: 'GET',
                url: url,
                success: handleResponse
            }
        );
    }

    function setup() {
        courseSearch();
        $('#deptInput').on('input', courseSearch);
        $('#numberInput').on('input', courseSearch);
        $('#areaInput').on('input', courseSearch);
        $('#titleInput').on('input', courseSearch);
    }

    $('document').ready(setup);
</script>
</body>
</html>
